@model AromaMocha.Models.CafeTable
@{ 
    List<SelectListItem> status = new List<SelectListItem>();
    status.Add(
        new SelectListItem() { Text = "Available", Value = "Available" }
    );
    status.Add(
        new SelectListItem() { Text = "Not Available", Value = "Not Available" }
    );
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aroma Mocha</title>
    <head profile="http://127.0.0.1:5500/Wesite1/home.html">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="~/Static/images/logo5.png">
        <link rel="stylesheet" type="text/css" href="~/Static/css/Register.css">
        <script src="https://kit.fontawesome.com/10f6dbc809.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <!-- Section 1 for header and display front page -->

        <section class="header">
            <nav>
                <!-- nav bar -->
                <h3>Aroma Mocha</h3>
                <div class="links">
                    <ul>
                        <!-- buttons in nav bar-->
                        <li><a href="/Home/Index">Home</a></li>
                        @if (Convert.ToBoolean(Session["isAdmin"]) == false)
                        {
                            <li><a href="/Home/About">About Us</a></li>
                        }
                        @if (Convert.ToBoolean(Session["isAdmin"]) == true)
                        {
                            <li><a href="/Reservation/Reservation">Reservations</a></li>
                        }
                        else
                        {
                            <li><a href="/Reservation/Reservation">Reservation</a></li>
                        }
                        <li><a href="/Shop/Shop">Shop</a></li>
                        @if (Convert.ToBoolean(Session["isAdmin"]) == true)
                        {
                            <li><a href="/Admin/ShowFeedbacks">Feedbacks</a></li>
                        }
                        else
                        {
                            <li><a href="/Contact/Contact">Contact us</a></li>
                        }
                        @if (Session["username"] == null)
                        {
                            <li><a href="/Register/Register">Register</a></li>
                        }
                        @if (Session["username"] != null)
                        {
                            <li><a href="/Home/Index">@Session["username"]</a></li>
                            <li><a href="/Register/Logout">logout</a></li>
                        }
                    </ul>
                </div>
            </nav>

            <!-- div for sign up form -->
            @if (Session["username"] != null && (Boolean)Session["isAdmin"] == true)
            {
                <div class="form">

                    <h1>Add Table</h1>

                    @using (Html.BeginForm("AddTable", "Admin", FormMethod.Post))
                    {
                        @Html.TextBoxFor(t => Model.TableNumber, new { type = "number", placeholder = "Enter Table Number", required = true })
                        @Html.ValidationMessage("Table Number")

                        @Html.TextBoxFor(t => Model.TableCapacity, new { type = "number", placeholder = "Enter Table Capacity", required = true })
                        @Html.ValidationMessage("Table Capacity")

                        @Html.DropDownListFor(t => Model.Status, status, "Select Status", new { style = "color:Grey; text-align:center", @class = "form-select", required=true });
                        <br>
                        <input type="submit" value="submit">

                    }

                </div>
            }
            else
            {
                <center><h3>Log in as admin!</h3></center>
            }
        </section>

        <!-- section 2 for footer-->
        <section class="footer">

            <div class="foot">
                s
                <div class="foot1">

                    <h3>Aroma Mocha</h3>
                    <i class="fas fa-map-marker-alt"></i>Mall Road, Lahore Pakistan.<br>

                    <p>Call.  0123 456 78910</p>
                    <p>Opening hours</p>
                    <p>Monday to Sunday</p>
                    <p>10:00 AM - 11:00 PM</p>
                </div>

                <div class="foot1">
                    <br>
                    <p class="media">Social Media Handles</p><br>
                    <i class="fab fa-facebook-f"></i>Aroma Mocha<br>
                    <i class="fab fa-instagram"></i>aroma.mocha<br>
                    <i class="fa fa-envelope"></i>aroma.mocha@gmail.com

                </div>
            </div>
            <hr>

        </section>
    </body>
</html>